<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div id="container"></div>
  <select id="fields"></select>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script src="/static/js/helpers.js"></script>
  <script src="/static/js/production_plot.js"></script>
</body>
</html>